@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fefefe;
}

header {
  width: 400px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, aqua, royalblue);
  transition: 1s;
}
header h1 {
  font: bold 50px/1 "orbitron";
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-150%);
}
header h1::before {
  content: "UI/UX DEVELOMENT";
  display: block;
  font: 14px/1 "orbitron";
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  top: 145px;
}
header h1:after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #fff;
  margin-top: 20px;
}
header ul {
  position: absolute;
  bottom: 100px;
  left: 50px;
}
header ul li {
  float: left;
  margin-right: 10px;
}
header ul li a {
  font-size: 20px;
  color: #fff;
}
header ul li a span {
  opacity: 0.7;
  transform: scale(0.7) translateX(-20px);
}

main {
  margin-left: 400px;
  padding: 20px;
}
main::after {
  content: "";
  display: block;
  clear: both;
}
main section {
  width: 100%;
  float: left;
}
main section article {
  width: 20%;
  padding: 12px;
  float: left;
}
main section article div {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 14px;
}
main section article div img {
  width: 100%;
}
main section article div h2 {
  margin-top: 15px;
  font: bold 11px/1 "arial";
  color: #444;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
main section article div p {
  font: 10px/1.2 "arial";
  color: #777;
  margin-bottom: 15px;
}
main ul {
  float: right;
  margin-bottom: 10px;
  overflow: hidden;
}
main ul li {
  float: left;
  width: 100px;
  height: 20px;
  margin-left: 20px;
}
main ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font: bold 7px/20px "orbitron";
  color: #aaa;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-sizing: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
main ul li.on a {
  background: linear-gradient(45deg, aqua, royalblue);
  color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
}

@media screen and (max-width: 1559px) {
  header {
    width: 350px;
  }
  main {
    margin-left: 350px;
  }
  main section article {
    width: 25%;
  }
}
@media screen and (max-width: 1199px) {
  header {
    width: 100%;
    height: 10vh;
    position: relative;
  }
  header h1 {
    font: bold 24px/1 "oribitron";
    transform: translateY(-50%);
  }
  header h1::before {
    display: none;
  }
  header h1::after {
    display: none;
  }
  header ul {
    bottom: 25px;
    left: auto;
    right: 50px;
  }
  header ul li {
    margin-right: 20px;
  }
  header ul li a span {
    display: none;
  }
  main {
    margin-left: 0;
  }
}
@media screen and (max-width: 899px) {
  main section article {
    width: 33.3%;
  }
}
@media screen and (max-width: 679px) {
  main section article {
    width: 50%;
  }
}
@media screen and (max-width: 539px) {
  main section article {
    width: 100%;
  }
  main ul {
    float: none;
  }
  main ul li {
    width: 32%;
    margin-left: 2%;
  }
  main ul li:first-child {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
