@charset 'utf-8';

* {margin:0;padding:0;box-sizing:border-box;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}

body {
    display:flex;justify-content:center;align-items:center;
    min-height:100vh;background:#8cccff;

    .box {
        position:relative;width:300px;
        .inputBox {
            position:relative;width:100%;background:#fff;
            padding:5px;border-radius:8px;
            box-shadow:0 15px 25px rgba(0,0,0,.15);
            input {
                position:relative;width:100%;outline:none;border:0;
                padding:10px 5px;
            }
            #toggleBtn {
                position:absolute;top:7px;right:10px;width:34px;height:34px;background:rgba(0,0,0,.05);
                border-radius:50%;cursor:pointer;
                display:flex;justify-content:center;align-items:center;
                &::before {
                    content:"\f06e";font-family:fontAwesome;
                }
                &.hide::before {
                    content:"\f070";font-family:fontAwesome;
                }
            }
        }
        .validation {
            background:#376488;padding:10px;margin-top:30px;border-radius:8px;box-shadow:0 15px 25px rgba(0,0,0,.15);
            ul {
                position:relative;
                display:flex;
                flex-direction:column;
                gap:8px;
                li {
                    position:relative;
                    color:#fff;font-size:15px;transition:.5s;
                    &::before {
                        content:"\f192";;font-family:fontAwesome;
                        width:20px;height:10px;
                        display:inline-flex;
                    }
                    &.valid {
                        color:rgba(255,255,255,.5);
                        &::before {
                            content:"\f00c";color:#0f0;
                        }
                    }
                }               
            }
        }
    }
}