* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

#root {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 26vh 15vw 20vh;
}
